@media only screen and (max-width: 700px) {
    .logo-title {
        height: auto;
    }


    .nav-bar {
        display: none;
    } 

    .nav-bar__responsive{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(111, 76, 31);
        margin: 0;
        padding: 0;
    }

    .nav-bar__responsive a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: 0.2s;
    }

    .nav-bar__responsive a:hover {
        color: rgb(186, 179, 179);
    }

    img {
        width: 40px;
        height: 40px;
    }

    .logo-title-wrapper {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .img-menu {
        margin-right: 15px;
    }

    .logo {
        margin-left: 10px;
    }


    h1 {
        font-size: 1.0em;
    }

    .img-menu {
        display: inline;
        cursor: pointer;
    }

    .label-content p::after {
        content: 'Medium';
        visibility: visible;
    }

    .location-media {
        grid-template-columns: 1fr;
        height: auto;
    }

    iframe {
        margin-top: 20px;
    }

    .media {
        margin: 30px 0;
    }

    .towns {
        grid-template-columns: 1fr;
    }

    section {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}