@media only screen and (max-width: 950px) {
    .hero-img img {
        height: 300px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .content {
        text-align: center;
    }

}