@media only screen and (max-width: 500px) {
    
    .header-container h1 {
    font-size: 2.0em;
    }

    .header-container {
        width: auto;
        height: 350px;

        border-radius: 0px;
        /* margin: 0 auto; */
        align-items: center;
        margin-top: 0px;

    }
    .header-container img {

        z-index: 0;

        width: 250px;
        margin-left:0px;
        box-shadow: -3px 10px 62px 13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 10px 62px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 62px 13px rgba(0,0,0,0.75);
    }
}